.Page {
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 100;
    padding: 20px 20px 20px 45px;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
}

.PageRedesigned {
    overflow-y: auto;
    height: 100%;
}

.trigger {
    height: 300px;
    margin-top: 20px;
}
