.app_theme_yellow {
    --bg-color: #0a174e;
    --inverted-bg-color: #f5d042;
    --primary-color: #f5d042;
    --secondary-color: #1aafbc;
    --inverted-primary-color: #0a174e;
    --inverted-secondary-color: #80634c;

    // redesigned
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;

    // Skeleton
    --skeleton-color: #1aafbc;
    --skeleton-shadow: #80634c;
    --code-bg: #162e95;

    // card
    --card-bg: #15266f;

    // listbox
    --listbox-bg: #80634c;
}
